# OAuth2
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_RSA_PRIVATE_KEY=

# Internal Service Authentication
INTERNAL_GATEWAY_SECRET=

# Payment
TOSS_SECRET_KEY=

# Firebase
FCM_CREDENTIALS_PATH=